body {
    margin: 0;
    padding: 0;
}

.titleh1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.titleh2 {
    position: absolute;
    top: 30%;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, -50%);
    color: red;
}

h3 {
    color: red;
    font-weight: 100rem;
}

img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    z-index: -1;
}

.w3-card-4 {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
}

.aboutText {
    position: absolute;
    top: 85%;
    left: 37%;
    text-align: center;
    margin: auto;
    width: 24%;
    border: 3px solid black;
    padding: 20px;
}

.aboutContact {
    position: absolute;
    top: 85%;
    left: 70%;
    text-align: center;
    line-height: 23px;
    margin: auto;
    width: 25%;
    border: 3px solid black;
}

address {
    padding-top: 5px;
    padding-bottom: 3px;
}

.appLink {
    position: absolute;
    top: 85%;
    left: 5%;
    text-align: center;
    line-height: 23px;
    margin: auto;
    width: 25%;
    border: 3px solid black;
}