body {
    margin: 0;
    padding: 0;
}

/* h1,
h2 {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    z-index: 3;
    color: red;
} */

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

h2 {
    position: absolute;
    top: 42%;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, -50%);
    color: red;
}

img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    z-index: -1;
}